@charset "utf-8";
/* CSS Document */

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, and, address, cite, code, em, img, q, s, small, strong, var, b, u, i, ol, ul, li, form, table, tbody, thead, tr, th, td, article, aside, embed, figure, figcaption, footer, header, nav, section, summary, time, video, input, textarea {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, figcaption, figure, footer, header, nav, section {
	display:block;
}
body {
	line-height:1;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}
input {
	vertical-align:middle;
}
ol, ul, li {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
